<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--预约测量-->
<!--<form action="measure" method="post">-->
   <!--名字 <input type="text" name="name" ><br>-->
   <!--电话 <input type="text" name="tel" ><br>-->
    <!--地址<input type="text" name="address" ><br>-->
    <!--时间<input type="text" name="ordertime" ><br>-->
    <!--<input type="submit" name="提交">-->
<!--</form>-->
<br><br>
订单查询
<br><br>
<form action="search" method="post">
    <input type="text" name="order_id"><br>
    <input type="submit" name="提交">
</form>

</body>
</html>